<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- 设置Spark相关日志级别 -->
        <Logger name="org.apache.spark" level="WARN"/>
        <Logger name="org.apache.hadoop" level="WARN"/>
        <Logger name="org.apache.hive" level="WARN"/>
        <Logger name="org.apache.hudi" level="WARN"/>
        <Logger name="org.sparkproject" level="WARN"/>
        <Logger name="org.apache.parquet" level="WARN"/>
        <Logger name="parquet" level="WARN"/>
        
        <!-- 设置项目日志级别 -->
        <Logger name="cn.com.multi_writer" level="INFO"/>
        
        <!-- 根日志级别 -->
        <Root level="WARN">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration> 